{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Espace membre{% endblock %}

{% block body %}
    <div id="member">

    </div>
{% endblock %}
{% block javascripts %}{{ parent() }} {{ encore_entry_script_tags('member') }}{% endblock %}
