{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Actualités{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mb-4">
                <h1 class="text-center text-blue">Créer une actu</h1>
                <div class="p-4 bg-blue-gradient text-grey-inherit">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}